# This systemd unit is used to control the data bridge service
[Unit]
Description=Awesome data bridge
Documentation=https://github.com/rcgsheffield/urban_flows/tree/master/awesome
Wants=network.target
After=network.target

[Service]
Type=simple
User=uflo
ExecStartPre=/bin/mkdir --parents /home/uflo/logs
ExecStart=/home/uflo/venv/bin/python /home/uflo/awesome/__main__.py --verbose --error /home/uflo/logs/awesome-error.log --info /home/uflo/logs/awesome.log --token /home/uflo/configs/awesome_token.txt
# Don't restart because this service will be triggered on a schedule
Restart=no

[Install]
WantedBy=multi-user.target
