# uWSGI systemd service configuration

[Unit]
Description=Data Logger Server uWSGI service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/data_logger_server
EnvironmentFile="/opt/data_logger_server/wsgi/data_logger_server.env"
ExecStart=/opt/data_logger_server/venv/bin/uwsgi --ini /opt/data_logger_server/wsgi/data_logger_server.ini

[Install]
WantedBy=multi-user.target
