# uWSGI systemd service configuration

[Unit]
Description=Data Logger Server uWSGI service
After=network.target

[Service]
User=uflo
Group=uflo
WorkingDirectory=/home/uflo/data_logger_server/data_logger_server
Environment="PATH=/home/uflo/data_logger_server/dl_srv_env/bin"
ExecStart=/home/uflo/data_logger_server/dl_srv_env/bin/uwsgi --ini ../wsgi/data_logger_server.ini

[Install]
WantedBy=multi-user.target
