# This systemd unit is used to control the data bridge service
[Unit]
Description=Awesome data bridge service
Documentation=https://github.com/rcgsheffield/urban_flows/tree/master/awesome
After=network.target

[Service]
# https://trstringer.com/simple-vs-oneshot-systemd-service/#summary
Type=simple
User=uflo
ExecStart=/opt/awesome/venv/bin/python3 /opt/awesome/__main__.py --token /home/uflo/configs/awesome_token.txt
# Don't restart because this service will be triggered on a schedule
Restart=no

[Install]
WantedBy=multi-user.target
